{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Professional Profile</title>
    </head>
    <body>
        <div class="container">
            <p>
                {{ section.section_name }}
            </p>
            <div>
                <ul>
                    {% for entry in section.profileentry_set.all %}
                        <li>
                            <strong>{{ entry.entry_name }}</strong>
                        </li>
                        <ul>
                            <li>
                                {{ entry.entry_text }}
                            </li>
                        </ul>
                    {% endfor %}
                </ul>
            </div>

            <form action="{% url 'prof_profile:prof_section_edit' section.id %}" method="post">
                {% csrf_token %}
                <input type="text" name="experience" placeholder="New Experience">
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>










