{% extends "base_generic.html" %}

{% block content %}
  <h1>Applications</h1>
  {% if applications_list %}
    {% for application in applications_list %}
    <a href="{{ application.get_absolute_url }}">
      <div class="card application_card">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="card-body">
              <h4 class="card-title">{{ application.position }}</h4>
              <h6 class="card-title">{{ application.company }}</h6>
                <p class="card-text">
                  {{ application.get_status_display }}
                  <br>
                  {% if application.date_applied is not None  %}
                    {{ application.date_applied }}
                  {% endif %}
                </p>
            </div>
          </div>

          <div class="col-sm">
            One of three columns
          </div>

          </div>
      </div>
    </a>

    {% endfor %}
  {% else %}
    <p>You have no current applications.</p>
  {% endif %}
{% endblock %}
