{% extends "base_generic.html" %}

{% block content %}
    <h1>My Applications</h1>
    <a href="{% url 'application_create' %}">Create new application</a> | <a href="{% url 'my_applications' %}">Current applications</a> | <a href="{% url 'past_applications' %}">Past applications</a>
    {% if applications_list %}
    <table cellpadding="10" class="sortable">
      <caption>Current Applications</caption>
      <thead class="pointer">
        <tr>
          <th>Company</th>
          <th>Position</th>
          <th>Status</th>
          <th>Date Applied</th>
          <th>Edit/Delete</th>
        </tr>
      </thead>
      <tbody>
    {% for application in applications_list %}
      <tr>
        <td><a href="{{ application.get_absolute_url }}">{{ application.company }}</a></td>
        <td>{{ application.position }}</td>
        <td>
          <form id="status-form" name="form" action="{{ application.get_absolute_url }}/change_status/" method="post">
            {% csrf_token %}
            <select name = "status" onchange="this.form.submit();">
              <option selected="selected">{{ application.get_status_display }}</option>
              <option value="ip">In Progress</option>
              <option value="i">Interviewing</option>
              <option value="d">Denied</option>
              <option value="o">Offered</option>
              <option value="r">Remove</option>
            </select>    
          </form>
        </td>
        <td>{{ application.date_applied }}</td>
        <td><a href="{{ application.get_absolute_url }}/update">Edit</a> or <a href="{{ application.get_absolute_url }}/delete">Delete</a></td>
      </tr>
    {% endfor %}
  </tbody>
    </table>
  {% else %}
    <p>You have no current applications.</p>
  {% endif %}       
{% endblock %}