<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>StatusHQ</title>{% endblock %}
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="{% static 'style/sorttable.js' %}"></script>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
        <ul class="sidebar-nav">
          <li><a class="btn btn-outline-primary" href="{% url 'index' %}">Home</a></li>
          {% if user.is_authenticated %}
            <li>User: {{ user.get_username }}</li>
            <li><a class="btn btn-outline-primary" href="{% url 'my_applications' %}">My Applications</a></li>
            <li><a class="btn btn-outline-primary" href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
          {% else %}
            <li><a class="btn btn-outline-primary" href="{% url 'login'%}?next={{request.path}}">Login</a></li>
          {% endif %}

          {% if perms.application.can_view_all_applications %}
            Staff: 
            <li><a class="btn btn-outline-primary" href="{% url 'applications' %}">All Applications</a></li>
          {% endif %}
        </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
    </div>
  </div>
</body>
</html>
