{% extends "base_generic.html" %}

{% block content %}
  <h1 class="default">StatusHQ Home</h1>
  <p>Welcome to StatusHQ, a website developed by <em>Charlie, Peter and Nat</em>!</p>
  {% if user.is_authenticated %}
  <p>Hey {{ user.get_username }}! You have the following applications:</p>
  <ul class="default">
    <li><strong>Total Applications:</strong> {{ num_apps }}</li>
    <li><strong>In Progress:</strong> {{ num_inprogress }}</li>
    <li><strong>Applied:</strong> {{ num_applied }}</li>
    <li><strong>Interviewing:</strong> {{ num_interviewing }}</li>
    <li><strong>Offers:</strong> {{ num_offered }}</li>
    <li><strong>Denied:</strong> {{ num_denied }}</li>
    <li><strong>Removed:</strong> {{ num_removed }}</li>
  </ul>
  {% else %}
  <p>Please login or signup to begin!</p>
  <a href="{% url 'login'%}?next={{request.path}}">Login</a>/<a href="{% url 'signup' %}">Signup</a>
  {% endif %}
  
{% endblock %}